:root {
    --color-bg-ligth: #357efe;
    --color-bg-dark: #1a1d25;
    --color-ligth: #fff;
    --color-text: #000;
    --color-link-hover: #AFB2BF;
    --color-stroke: #4e5d7c80;
    --color-state: #4e5d7c;
    --color-discount: #1abc9c;
    --color-benefit: #ffc736;
    --color-link-active: #ffffff99;
    --color-paragraph-text: #ffffffcc;
    --color-underline: #4e5d7c14;
    --color-footer-link: #ffffffb3;
    --color-footer: #ffffff80;

    --border-8: 8px;
    --border-10: 10px;
    --border-16: 16px;
    --border-color: rgba(78, 93, 124, 0.16);
    --layout-width: 1200px;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smooting: antialised;
    -moz-osx-font-smooting: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--color-bg-ligth);
    margin: 0;
    font-family: 'Fire Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}