.header__wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
}


/* Menu */

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
}

.menu__item a {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: var(--color-paragraph-text);
}

.menu__item:hover a {
    color: var(--color-ligth);
}

.menu__item_active a {
    color: var(--color-ligth);
}

.header__mobile-menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width:960px) {

    .menu {
        gap: 12px;
    }

}

@media (max-width:870px) {

    .menu {
        display: none;
    }

    .header__login {
        display: none;
    }

    .header__mobile-menu-button {
        display: block;
    }

}