main {
    background-color: #1E1F29;
}

h1 {
    color: #ffffff;
    font-family: 'Andale Mono', monospace;
}

label {
    color: #ffffff;
}

input, textarea, select {
    background: #2E2D3D;
    color: #FAFAFA;
}

label {
    color: #AFB2BF;
}

button {
    background-color: #6C38CC;
}

input:valid {
    background: red;
}