body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 60px;
}

nav {
    padding: 33px 50px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 200px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 34px;
}

h1 {
    margin: 0 0 17px 0;
}

h2 {
    margin: 0 0 19px 0;
}

h1, h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #050038;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

p:not(.infoText) {
    color: #050038;

}

header a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #050038;
}

footer {
    background-color: #050038;
    padding: 47px 40px;
    margin: 0 20px 0 0;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer>div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    padding: 0 40px;
}

.heroSection {
    display: flex;
    flex-flow: row nowrap;
    gap: 65px;
    align-items: center;
}

.heroSectionText {
    display: flex;
    flex-flow: column nowrap;
}

.itemGroup {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}

.item {
    border: 1px solid #f2f2f2;
    border-radius: 24px;
    height: 48px;
    text-align: center;
    padding: 14px 18px;
    text-wrap: nowrap;
}

.item:first-child {
    background: #f1f3fd;
}

.heroIcons {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    align-items: center;
}

.infoText {
    color: #696688;
    margin: 0 0 40px 0;
}

.heroForm input {
    border: 1px solid #9b99af;
    border-radius: 32px;
    height: 48px;
    padding: 5px 10px;
}

.link {
    color: #4262FF;
}

.link:hover {
    color: #122db6;
}

.heroForm+p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #050038;
    margin: 8px 0 52px 0;
}

.heroForm {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

#bthStart {
    border: 1px solid #4262ff;
    border-radius: 2em;
    height: 3em;
    background-color: #4262ff;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 1em 2em;
    transition: background-color 1s, border-radius 2s;
}

#bthStart:hover {
    background-color: #122db6;
    border-radius: 50%;
}

.heroForm button:active {
    background-color: #061b81;
}

#infoForUser {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.01em;
    color: #050038;
}

.heroText {
    color: #050038;
    margin: 0 0 55px 0;
}

.sectionList {
    list-style-type: none;
    list-style-image: url(./img/icons/Frame.svg);
}

.section {
    display: flex;
    gap: 100px;
}

.section-reverse {
    flex-flow: row-reverse nowrap;
}


/* .sectionList li::marker {
    content: url(./img/icons/Frame.svg);
} */